<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>

    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'first_app/css/calc.css' %}" />
    <script type='text/javascript' charset='utf8' src="{% static 'first_app/js/jquery-1.11.3.min.js' %}"></script>
    <script type='text/javascript' charset='utf8' src="{% static 'first_app/js/calc.js' %}"></script>
</head>
<body>
    <div id="background">
        {% csrf_token %}
        <div id="container">
            <div id="log"></div>
            <div id="result"></div>
            <input type="text" id='input1' name="input1"><br/>
            <input type="text" id='input2' name="input2"><br/>
            <input type="submit" id="clear" class="mathBtn" value="clear"/>
            <input type="submit" id="add" class="mathBtn" value="+"/>
            <input type="submit" id="subtract" class="mathBtn" value="-"/>
            <input type="submit" id="multiply" class="mathBtn" value="*"/>
            <input type="submit" id="divide" class="mathBtn" value="/"/>
        </div>
    </div>
</body>
</html>