<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'first_app/css/customer-product.css' %}" />
</head>
<body>
    <h1>Customers</h1>
    <table border="2">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>email</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        {% for instance in rows %}
            <tr>
                <td>{{instance.firstName}}</td>
                <td>{{instance.lastName}}</td>
                <td>{{instance.email}}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="{% url 'save_customer_data' %}" method="POST">
        {% csrf_token %}
        <h2></h2><br>
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="Update"><br>
    </form>
</body>
</html>