
<style>
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#container{
    /*width : 300px;*/
    height : 150px;
}
h2{
    background: #ccc;
}
.label{
    width: 60px;
    display: inline-block;
}
input{
    margin: 5px;
}
form {
    border: 1px solid;
    padding:10px;
    float: left;
    height: 200px;
    width: 23%;
}
    .lineContainer{
        width : 90%;
        display: block;
    }
</style>
<table border="2">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>price</th>
    </tr>
    {% for instance in rows %}
        <tr>
            <td>{{instance.title}}</td>
            <td>{{instance.author}}</td>
            <td>{{instance.price}}</td>
        </tr>
    {% endfor %}
</table>

<div id="container">

    <div class="lineContainer">
        <form action="/save_library_data" method="post">
        {% csrf_token %}
            <h2>Save:</h2><br>
            <div class="label">Title:</div><input type="text" name="title" /><br>
            <div class="label">Author:</div><input type="text" name="author" /><br>
            <div class="label">Price:</div><input type="text" name="price" /><br>
            <input type="submit" value="Save"><br>
        </form>


        <form action="/search_library_data" method="post">
        {% csrf_token %}
            <h2>Search:</h2><br>
            <div class="label">Title:</div><input type="text" name="title" /><br>
            <input type="submit" value="search"><br>
        </form>
    </div>

    <div class="lineContainer">
        <form action="/update_library_data" method="post">
    {% csrf_token %}
        <h2>Upadet:</h2><br>
        <div class="label">Title:</div><input type="text" name="title" /><br>
        <div class="label">Author:</div><input type="text" name="author" /><br>
        <div class="label">Price:</div><input type="text" name="price" /><br>
        <input type="submit" value="Update"><br>
    </form>

        <form action="/delete_library_data" method="post">
    {% csrf_token %}
        <h2>Delete:</h2><br>
        <div class="label">Title:</div><input type="text" name="title" /><br>
        <input type="submit" value="Delete"><br>
    </form>
    </div>
     <div class="lineContainer">
        <form action="/edit_library_data" method="post">
        {% csrf_token %}
        <h2>Edit:</h2><br>
        <div class="label">Title:</div><input type="text" name="title" /><br>
        <input type="submit" value="Edit"><br>
    </form>

    </div>

</div>
