
<style>
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
<table border="2">
    <tr>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    {% for instance in rows %}
        <tr>
            <td>{{instance.name}}</td>
            <td>{{instance.phone}}</td>
        </tr>
    {% endfor %}
</table>

<form action="/save_data" method="post">
{% csrf_token %}
    Name:<input type="text" id="name" name="name" /><br>
    Phone:<input type="text" id="phone" name="phone" /><br>
    <input type="submit" value="Save"><br>
</form>
